trigger:
- main

pool:
  name: Default

variables:
  buildConfiguration: 'Release'

steps:
# Check .NET SDK version
- script: dotnet --version
  displayName: 'Check .NET SDK Version'

# Restore solution
- script: dotnet restore Az-CI-CD-Demo.sln
  displayName: 'Restore Solution'

# Build solution
- script: dotnet build Az-CI-CD-Demo.sln --configuration $(buildConfiguration) --no-restore
  displayName: 'Build Solution'

# Run tests (will run only if build succeeds by default)
- script: dotnet test Az-CI-CD-Demo.sln --configuration $(buildConfiguration)
  displayName: 'Test Project'